/*-------------------------------------------*/
/*              UPLOAD SECTION               */
/*-------------------------------------------*/
/* 1. UPLOAD IMAGE SECTION */
.main-container-of-upload-image{
  padding: 10px 7px;
  display: flex;
  align-items: center;
  gap: 3%;
  height: 65px;
  background: #e2e2e2;
  margin: 4px 0px;
  justify-content: space-between;
}

/* Contains profile image */
.container-of-profile{
  height: 93%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d5d5d5;
  border-radius: 50%;
}

/* styling image of profile */
.container-of-profile img{
  height: 75%;
}

/* It contains text [ what in your mind ] */
.container-of-what-in-your-mind{
  height: 90%;
  display: flex;
  align-items: center;
  width: 70%;
  background: #d5d5d5;
  padding: 5px 10px;
  border-radius: 20px;
}

/* Styling anchor tag */
.container-of-what-in-your-mind a{
  text-decoration: none;
  color: black;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

/* Styling span [ what in your mind ] */
.container-of-what-in-your-mind span{
  font-size: 1rem;
}

/* Contains a img by clicking it you can upload img */
.container-of-upload-image{
  height: 110%;
  aspect-ratio: 1/1;
  overflow: hidden;
  position: relative;
}


.container-of-upload-image .box-of-upload-image{
  height: 100%;
  text-align: center;
}

.container-of-upload-image .box-of-upload-image img{
  height: 55%;
}

.container-of-upload-image .box-of-upload-image span{
  font-size: 0.85rem;
}

.container-of-upload-image .box-of-upload-image input{
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
}



/* 2. Upload music section */
.main-container-of-upload-song{
  height: 240px;
  padding: 10px 7px;
  margin: 4px 0px;
  background: #e2e2e2;
}

.box-of-upload-song{
  height: 100%;
  aspect-ratio: 0.6/1;
  border: 1px solid black;
  border-radius: 6px;
  overflow: hidden;
}

.box-of-upload-song .top{
  height: 80%;
  width: 100%;
  background: #d5d5d5;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-of-upload-song .top img{
  width: 80%;
}

.box-of-upload-song .bottom{
  height: 20%;
  width: 100%;
  padding: 7px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.box-of-upload-song .bottom span{
  font-size: 1.05rem;
  font-weight: bolder;
}

.box-of-upload-song .bottom input{
  position: absolute;
  top: 5px;
  left: 5px;
  transform: scale(200%);
  opacity: 0;
}
/*===========================================*/




/*-------------------------------------------*/
/*       PEOPLE YOU MAY KNOW SECTION         */
/*-------------------------------------------*/
.main-container-people-you-may-know{
  height: 415px;
  background: #e2e2e2;
  padding: 10px 7px;
  padding-bottom: 7px;
  padding-left: 0px;
  padding-right: 0;
}

.main-container-people-you-may-know h{
  font-size: 1.2rem;
  font-weight: bolder;
  margin-left: 7px;
}

.main-container-people-you-may-know .slider{
  width: 100%;
  height: 90%;
  display: flex;
  margin: 2% 0px;
  overflow-x: auto;
  align-items: center;
}

.slider .card-of-people-you-may-know:nth-child(1){
  margin-left: 7px;
}

.card-of-people-you-may-know{
  border: 1px solid black;
  border-radius: 6px;
  min-width: 220px;
  aspect-ratio: 1/1.6;
  overflow: hidden;
  margin-right: 6px;
}

.card-of-people-you-may-know .top{
  height: 78%;
  border-bottom: 1px solid black;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-of-people-you-may-know .top img{
  width: 100%;
}

.card-of-people-you-may-know .bottom{
  padding: 5px;
  height: 22%;
}

.card-of-people-you-may-know .bottom .username{
  font-size: 1rem;
}

.add-friend-button{
  height: 65%;
  width: 100%;
  outline: none;
  background: transparent;
  border: 1px solid #646464;
  border-radius: 3px;
  display: flex;
  align-items: center;
  margin-top: 5px;
  justify-content: center;
}

.add-friend-button img{
  height: 40%;
  margin-right: 5px;
}

.add-friend-button span{
  font-size: 1.1rem;
  font-weight: bold;
  color: #2b6dff;
}
/*===========================================*/




/*-------------------------------------------*/
/*              POSTS SECTION                */
/*-------------------------------------------*/
.posts-section{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.card-of-post{
  width: 100%;
  background: #e2e2e2;
  margin: 4px 0px;
  overflow: hidden;
  margin-bottom: 1px;
}

.card-of-post .top{
  height: 65px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 7px;
}

.card-of-post .top .box-of-profile{
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d5d5d5;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin-right: 7px;
}
.card-of-post .top .box-of-profile img{
  height: 70%;
}

.box-of-post-details{
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box-of-post-details .username-of-post{
  font-weight: bold;
}

.box-of-post-details .time-of-post{
  opacity: 0.8;
}

.card-of-post .middle{
  width: 100%;
  overflow: hidden;
}
.card-of-post .middle #posted-image{
  width: 100%;
}

.card-of-post .bottom{
  height: 47px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.card-of-post .bottom .box{
  height: 80%;
  aspect-ratio: 2.6/1;
  background: #d5d5d5;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-of-post .bottom .box img{
  height: 70%;
}
/*===========================================*/
