/*styling category container*/
#items-container{
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 width: 99vw;
 height: auto;
 background: #f5f5f5;
 margin: 1vh 0.5vw;
}
/*styling all anchor tags*/
#items-container a{
 text-decoration: none;
}
.box-main-container{
 display: inline-block;
 border: 0.5px solid black;
 aspect-ratio: 1/1.75;
 margin: 0.5vw 0.5vw;
 overflow: hidden;
 border-radius: 2px;
}
/*styling category box container*/
.box-container{
 display: inline-block;
 width: 100%;
 height: 100%;
 aspect-ratio: 1/1.50;
 overflow: hidden;
 background: #dbdbdb;
}
/* styling anchor of box container */
.box-container .acontainer{
 width: 70%;
}
/*styling box image container*/
.image-container{
 display: inline-flex;
 align-items: center;
 justify-content: center;
 width: 99.5%;
 height: 80%;
 background: white;
 overflow: hidden;
}
.image-container img{
 height: 95%;
}



/* styling main-para-container */
.main-para-container{
 display: inline-flex;
 flex-direction: row;
 height: 100%;
 background: red;
 width: 71%;
 max-width: 71%;
}
/*styling paragraph container*/
.para-container{
 height: 100%;
 display: inline-flex;
 flex-direction: column;
 width: 100%;
 border: 0.5 px solid pink;
 background: #dbdbdb;
}
/*styling users choice para*/
.users-choice{
 display: inline-block;
 font-size: 0.95rem;
 color: #181818;
 padding: 0% 1%;
 margin-bottom: 0%;
 margin-top: -10px;
}
/*styling product para*/
.product-para{
 display: inline-block;
 font-size: 1rem;
 font-weight: bold;
 padding: 0% 1%;
 color: black;
}
/* styling cart container */
.cart-container{
 display: inline-block;
 width: 27%;
 padding-top: 4%;
 float: right; 
 margin-right: 1%;
}
/* styling cart button */
.cart-button{
 display: inline-block;
 background: #dbdbdb;
 border: none;
 outline: none;
 width: 100%;
 height: auto;
 margin: 0px;
 background: #dbdbdb;
 z-index: 3;
}
/* styling cart image */
.cart{
 display: inline-block;
 width: 100%;
 height: auto;
}




/* box will appear when any items are added to cart section */
/* stylimg its container in go position */
.appear-cart-container{
 position: fixed;
 width: 95vw;
 padding: 0.5vh 0px;
 border-radius: 10px;
 display: block;
 bottom: -18vh;
 text-align: center;
 font-weight: bolder;
 font-size: 1.4rem;
 background: #4a4a4a;
 color: #d8d8d8;
 margin: 0px 2.5vw;
 display: none;
}

/* stylimg its container in come position */
.came{
 display: block;
 animation-name: notification;
 animation-duration: 2s;
}

/* making animation */
@keyframes notification {
 3%{
  transform: translateY(-19.5vh);
 }
 99%{
  transform: translateY(-19.5vh);
 }
 100%{
  transform: translateY(10vh);
 }
}




